/* dynamic-background.css */  
body, html {  
    height: 100%;  
    margin: 0;  
    font-family: 'Corben', cursive;  
    color: rgb(15, 14, 14);  
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.66);  
}  
  
.content {  
    /* 内容层的高度设置为100vh确保它至少填充视口，但可以滚动以显示更多内容 */  
    min-height: 100vh;  
    overflow-y: auto; /* 允许内容垂直滚动 */  
    padding: 3rem 0; /* 为内容添加一些内边距 */  
    position: relative; /* 为绝对定位的子元素提供定位上下文 */  
    box-sizing: border-box; /* 包括内边距和边框在min-height内 */  
}  
  
.snowflake {  
    position: fixed; /* 背景层元素固定定位 */  
    width: 10px;  
    height: 10px;  
    background: white;  
    border-radius: 50%;  
    opacity: 0.7;  
    animation: fall 4s linear infinite;  
    pointer-events: none; /* 防止雪花阻挡页面内容的交互 */  
}  
  
@keyframes fall {  
    0% {  
        transform: translateY(-100vh);  
    }  
    100% {  
        transform: translateY(100vh);  
    }  
}